* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
    caret-color: transparent;
}
html {
    background-color: rgb(200, 200, 200);
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
    /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
}
body {
    font-size: 2rem;
    /* font-size: calc(1.5rem + 0.4vw); */
    /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
    /* FONTSIZE - Adding the 0.4 is for responsivity */
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:initial;
}
:root {
    --grid-base-color: rgb(42,42,42);
    --grid-hover-color: rgb(160, 200, 215);
}
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
#grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100rem;
    height: 100rem;
    max-width: 100rem;
    max-height: 100rem;
    padding-left: 4rem;
}

.gridBlock {
    width: 25rem;
    height: 25rem;
    background-color: var(--grid-base-color);
}
.gridBlockOutline {
    outline: 1px solid black;
}

.main {
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
}

button {
    width: 18rem;
    height: 7rem;
    padding: 1rem;
    border-radius: 5px;
    border: transparent;
    font-size: x-large;
}

h1 {
    width:100vw;
    text-align: center;
    margin: auto;
}

#colorBtn {
    position: relative;
    padding-bottom: 20%;
}

input {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    padding: 0.1rem 1rem;
    margin: 0.2rem 0;
    border: none;
}

#sizeBtns, #options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10rem 1rem;
}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}