* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid black;
}
html {
    background-color: rgb(200, 200, 200);
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
    /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
}
body {
    font-size: 2rem;
    /* font-size: calc(1.5rem + 0.4vw); */
    /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
    /* FONTSIZE - Adding the 0.4 is for responsivity */
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:initial;
}
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
#grid {
    display: grid;
    /* background-color: rgb(35, 109, 85); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: min-content;
    margin: auto;
}

.gridBlock {
    width: 20rem;
    height: 20rem;
    background-color: rgb(57, 57, 72);
}